[submodule "services/location-service"]
	path = services/location-service
	url = https://github.com/javamicroservicesportfolio/location-service.git
[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/javamicroservicesportfolio/user-service.git
[submodule "services/airline-core-service"]
	path = services/airline-core-service
	url = https://github.com/javamicroservicesportfolio/airline-core-microservice.git
[submodule "services/flight-ops-service"]
	path = services/flight-ops-service
	url = https://github.com/javamicroservicesportfolio/flight-ops-service.git
[submodule "services/pricing-service"]
	path = services/pricing-service
	url = https://github.com/javamicroservicesportfolio/pricing-service.git
[submodule "services/seat-service"]
	path = services/seat-service
	url = https://github.com/javamicroservicesportfolio/seat-service.git
