[submodule "services/location-service"]
	path = services/location-service
	url = https://github.com/javamicroservicesportfolio/location-service.git
[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/javamicroservicesportfolio/user-service.git
[submodule "services/airline-core-service"]
	path = services/airline-core-service
	url = https://github.com/javamicroservicesportfolio/airline-core-microservice.git
